extends layout
block content 
    br
    br
    h3= "Add a Medicine"
    form(action="" method="POST"  )
      p &nbsp;&nbsp;&nbsp; Medicine Name:
        input(type="text" name="name")
      p &nbsp;&nbsp;&nbsp; Disease
        input(type="text" name="disease")
      p &nbsp;&nbsp;&nbsp; Medicine Price:
        input(type="text" name="price")
      p &nbsp;&nbsp;&nbsp; Company Name
        input(type="text" name="companyname")  
      p &nbsp;&nbsp;&nbsp; Quantity
        input(type="text" name="quantity")
      p &nbsp;&nbsp;&nbsp; Type
        input(type="text" name="type")  
      p &nbsp;&nbsp;&nbsp;  Effectiveness
        input(type="text" name="effectiveness")   
      br
      input(type="submit")
  


